---
import Layout from "~/layouts/Layout.astro";

export const prerender = true;
---

<Layout title="404">
  <div class="flex min-h-full flex-col">
    <main
      class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-center px-6 py-24 sm:py-64 lg:px-8"
    >
      <p class="text-base font-semibold leading-8 text-indigo-600">404</p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        Página no encontrada
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-600">
        Una disculpa, no pudimos encontrar la página que buscas.
      </p>
      <div class="mt-10">
        <a href="/" class="text-sm font-semibold leading-7 text-indigo-600"
          ><span aria-hidden="true">&larr;</span> Volver a Inicio</a
        >
      </div>
    </main>
  </div>
</Layout>
